.logo{
    display: flex;
    flex-wrap: wrap;
}
.barra-navegacion{
    background-color: #000;
    display: flex;
    
}
.logo-hijo1{
    margin-left: 20px;
    flex-grow: 0.40;
}
.logo-hijo2{
    margin-left: 10px;
    margin-top: 30px;
    flex-grow: 0.60;
}

.navegacion div{

    display: flex;
    color: #fff;
}
